.input-box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    &__input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 20px;
        border : none;
        color: #000;
    }
    &__btn {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border-radius: 20px;
        background-color: darkblue;
    }
}